<form [formGroup]="overrideForm">
  <!-- Override Name Input -->
  <mat-form-field>
    <mat-label>Override Name</mat-label>
    <input matInput formControlName="name" [matAutocomplete]="auto" />
  </mat-form-field>

  <mat-autocomplete #auto>
    @for (name of overrideNames(); track name) {
      <mat-option [value]="name">{{ name }}</mat-option>
    }
  </mat-autocomplete>
  <!-- End of Override Name Input -->

  <!-- Override Value Input -->
  @switch (valueType()) {
    @case ("color") {
      <app-color-input></app-color-input>
    }

    @case ("dimension") {
      <app-dimension-input></app-dimension-input>
    }
  }
  <!-- End of Override Value Input -->

  <!-- Add Button Area -->
  @if (overrideForm.valid) {
    <button
      mat-flat-button
      id="add-override-button"
      (click)="onAddClick()"
      type="button"
    >
      Add Style
    </button>
  }
  <!-- End of Add Button Area -->
</form>
