<mat-toolbar>
  <h1 id="main-title">{{ title }}</h1>
</mat-toolbar>

<div id="main-content">
  <p id="intro-text">
    This website showcases the style overriding feature for Angular Material
    components. This is a new feature introduced on version 19 of the framework.
  </p>

  <div id="demo">
    <app-component-selector (selected)="onComponentSelected($event)" />
    <!-- TODO: Add override adder/selector, and copiable css -->
    <div id="portal-container" appearance="outlined">
      <ng-template [cdkPortalOutlet]="selectedComponentPortal"></ng-template>
    </div>
  </div>
</div>
