@use "@angular/material" as mat;

:host {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-primary),
      mobile-height: auto,
    )
  );

  mat-toolbar {
    padding: 18px max(5%, 10px);
  }

  #main-title {
    white-space: pre-wrap;
  }

  #main-content {
    padding: 0 max(5%, 10px);
    width: 100%;
    box-sizing: border-box;
    margin-top: 2rem;

    #intro-text {
      font: var(--mat-sys-body-large);
    }

    #demo {
      display: flex;
      gap: 2rem;

      #right {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        gap: 0.5rem;

        #portal-container {
          border-radius: 5px;
          border: 2px solid grey;
          padding: 1rem 2rem;
          opacity: 1;

          &:empty {
            opacity: 0;
          }
        }
      }
    }
  }
}
